@import url("white-space-reset.css");

body {
  font-size: 13px;
  font-weight: 100;
  font-family: "Open Sans", Arial, sans-serif;
  color: #444;
}

a {
  text-decoration: none;
}

.navigation {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 54px;
  width: 100%;
  border-top: 10px solid #F5F5F5;
  border-bottom: 2px solid #F5F5F5;
  background: white;
}

.navigation a {
  text-decoration: none;
  color: #444;
  padding: 0 26px;
}

.banner {
  background-image: url("images/front.jpg");
  background-position: center;
  width: 100%;
  height: 100%;
  max-width: 1570px;
  max-height: 552px;
  min-width: 525px;
  margin: 0 auto;
}

.main_header {
  margin: 52px auto 0 auto;
  width: 97%;
  height: 100%;
  color: white;
  border-bottom: 2px solid #F5F5F5;;
}

.main_header img {
  display: block;
  margin: 0 auto;
  padding-top: 150px;
}

.main_header h1 {
  font-size: 72px;
  font-weight: 200;
  text-align: center;
}

.main_header h2 {
  font-size: 31px;
  font-weight: normal;
  text-align: center;
  padding-bottom: 56px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-weight: lighter;
  padding: 60px 0;
  width: 97%;
  margin: 0 30px;
  border-bottom: 2px solid #F5F5F5;
}

.section h1 {
  font-size: 48px;
  font-weight: 100;
  margin-bottom: 30px;
}

.section p {
  margin-bottom: 17px;
}

.green_button {
  box-sizing: border-box;
  color: white;
  font-weight: bold;
  background-color: #006000;
  padding: 10px 30px;
}

.speakers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1080px;
}

.speakers li {
  width: 280px;
  height: 378px;
  border: 2px solid #F5F5F5;
  text-align: center;
  margin: 6px;
}

.speakers h2 {
  font-size: 24px;
  font-weight: 600;
  color: #008000;
  padding-top: 30px;
  padding-bottom: 6px;
}

.speakers li:hover > .speaker_summary {
  display: block;
  position: relative;
  width: 280px;
  height: 378px;
  background-color: black;
  opacity: .9;
  bottom: 343px;
}



.speaker_summary {
  display: none;
  font-size: 13px;
  color: white;
}

.speaker_summary a, 
.speaker_summary a:visited {
  color: #008000;
  font-weight: bold;
}

.speaker_summary a:hover {
  text-decoration: underline;
}