html {
  font-size: 18px;
}

dl {
  font-size: 0;
}

dd, dt {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

dt {
  width: 25%;
}

dd {
  width: 75%;
}

input {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}

