@import url("white-space-reset.css");

html, body {
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  align-items: stretch;
  height: 100%;
  font: 16px Helvetica, Arial, sans-serif;
}

nav {
  width: 335px;
  height: 100%;
  background-color: #464f77;
  display: flex;
  flex-direction: column;
  color: white;
}

.group_header {
  display: flex;
  margin-top: 70px;
  margin-bottom: 13px;
  padding-left: 100px;
  align-items: center;
}

.group_header h2 {
  padding-left: 10px;
  width: 180px;
  font-weight: normal;
}




nav li {
  width: 100%;
  height: 34px;
}


.date {
  float: left;
  display: inline-block;
  box-sizing: border-box;
  width: 235px;
  height: 34px;
  padding: 8px 0 8px 136px;

  color: #a3a7bb;
}

.count {
  float: left;
  box-sizing: border-box;
  width: 100px;
  height: 34px;
  padding: 8px 34px 8px 0;

  text-align: right;
  color: #a3a7bb;
}

nav .circle {
  float: right
}

.circle {

 
  padding: 0 4px;
  background-color: #6b7292;
  border-radius: 12px;

}

.selected {
  background-color: #383f5f;
}

.selected .date,
.selected .count {
  color: white;
}

.selected.circle {
  background-color: #148fd5;
  color: white;
}

.strike_through {
  text-decoration: line-through;
}

main {
  margin: 76px 100px 76px 32px;
  width: 100%;
}

main h1 {
  box-sizing: border-box;
  font-size: 21px;
  font-weight: normal;
  padding-right: 12px;
}

.list_header {
  display: flex;
  align-items: center;
  height: 24px;
  margin-bottom: 42px;
}

.list_header p {
  box-sizing: border-box;
  font-size: 14px;
}

main li {
  display: grid;
  align-items: center;
  grid-template-columns: 38px auto 22px;
  grid-template-rows: 50px;
  grid-template-areas:
    "check main trash";

  border-top: 1px solid grey;  
}

main li:first-child {
  border-top: none;
}

input[type="trash"] {
  justify-self: end;
}

/* 
main li {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 50px;
  border-top: 1px solid grey;
}

main li:first-child {
  border-top: none;
}

.first_column {
  width: 38px;  
}

#plus {
  display: block;
  margin: 0 auto;
}

input[type="image"] {

} */


